@model WebBanSon.Models.Son

@{
    ViewBag.Title = "Themmoison";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2> THÊM MỚI SON </h2>

@using (Html.BeginForm("Themmoison", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<!--                                                             sdadsadsa        -->
<div class="form-horizontal">
    <h4>Son</h4>
    <hr />
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.TenSon, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenSon)
            @Html.ValidationMessageFor(model => model.TenSon)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiaBan, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaBan)
            @Html.ValidationMessageFor(model => model.GiaBan)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MoTa, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MoTa)
            @Html.ValidationMessageFor(model => model.MoTa)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AnhBia, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="fileupload" />
            @ViewBag.Thongbao
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgayCapNhat, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" name="NgayCapNhat"
                   @Html.ValidationMessageFor(model => model.NgayCapNhat)>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SoLuongTon, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoLuongTon)
            @Html.ValidationMessageFor(model => model.SoLuongTon)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaLoaiSon, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaLoaiSon")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaNsx, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaNsx")
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm mới" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Quay về trang quản lý", "Son")
</div>