@model WebBanSon.Models.LoaiSon

@{
    ViewBag.Title = "themloaison";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÊM LOẠI SON</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LOẠI SON</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TenLoaiSon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenLoaiSon)
                @Html.ValidationMessageFor(model => model.TenLoaiSon)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>

