@using WebBanSon.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Son>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layoutnguoidung.cshtml";
}

 
<h3 style="text-align:center;color:#ff0000;"></h3>
<div class="col-lg-12">

    @foreach (var son in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">

                <a href="@Url.Action("Details", "SonStore", new { id = son.MaSon })">

                    <img alt="@son.TenSon" src="~/HinhSP/@son.AnhBia" width="170" height="170" />


                    <div>
                        <br />
                        <h4 style="text-align:center;font-size:25px;color:#000000;">
                            @son.TenSon
                        </h4>
                        <h4 style="text-align:center;font-size:25px;color:#000000;">
                            Giá:@String.Format("{0:0,0}", @son.GiaBan) VNĐ
                        </h4>

                        <p></p>

                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star "></span>
                            <span class="glyphicon glyphicon-star "></span>
                            <span class="glyphicon glyphicon-star "></span>
                            <span class="glyphicon glyphicon-star "></span>
                            <span class="glyphicon glyphicon-star "></span>

                        </p>

                    </div>



</div>
        </div>
    }

</div>


                                             <!-- tạo liên kết các trang -->


Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="menutrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .menutrang li 
    {
        display: inline;
    }
</style>
